.feature-card-container {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.feature-card-text {
  font-weight: 600;
  line-height: 28px;
}
@media(max-width: 767px) {
  .feature-card-feature-card {
    flex-direction: row;
  }
  .feature-card-container {
    flex-direction: column;
  }
}
@media(max-width: 479px) {
  .feature-card-container {
    flex-direction: column;
  }
}

.question1-container {
  gap: var(--dl-space-space-unit);
  flex: 1;
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.question1-text {
  font-weight: 700;
}

.contact-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.contact-header {
  width: 100%;
  display: flex;
  z-index: 100;
  position: fixed;
  align-items: center;
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}
.contact-navbar-interactive {
  background-image: radial-gradient(circle at left, rgba(0, 0, 0, 0.2) 36.00%,rgba(2, 108, 210, 0.4) 100.00%);
}
.contact-logo {
  font-size: 2em;
  font-family: "Inter Tight";
  text-transform: uppercase;
}
.contact-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.contact-links {
  flex: 1;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.contact-nav2 {
  width: auto;
  height: auto;
  align-self: center;
  text-align: center;
  transition: 0.3s;
  margin-left: var(--dl-space-space-twounits);
  text-transform: uppercase;
  text-decoration: none;
}
.contact-nav3 {
  width: auto;
  height: auto;
  align-self: center;
  text-align: center;
  transition: 0.3s;
  margin-left: var(--dl-space-space-twounits);
  text-transform: uppercase;
  text-decoration: none;
}
.contact-nav4 {
  width: auto;
  height: auto;
  align-self: center;
  text-align: center;
  transition: 0.3s;
  margin-left: var(--dl-space-space-twounits);
  text-transform: uppercase;
  text-decoration: none;
}
.contact-nav41 {
  width: auto;
  height: auto;
  align-self: center;
  text-align: center;
  transition: 0.3s;
  margin-left: var(--dl-space-space-twounits);
  text-transform: uppercase;
  text-decoration: none;
}
.contact-nav5 {
  width: auto;
  height: auto;
  align-self: center;
  text-align: center;
  transition: 0.3s;
  margin-left: var(--dl-space-space-twounits);
  text-transform: uppercase;
  text-decoration: none;
}
.contact-burger-menu {
  display: none;
}
.contact-icon {
  width: var(--dl-size-size-xsmall);
  cursor: pointer;
  height: var(--dl-size-size-xsmall);
}
.contact-mobile-menu1 {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
}
.contact-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.contact-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.contact-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact-icon02 {
  width: var(--dl-size-size-xsmall);
  cursor: pointer;
  height: var(--dl-size-size-xsmall);
}
.contact-links1 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.contact-nav1 {
  margin-bottom: var(--dl-space-space-unit);
}
.contact-nav21 {
  margin-bottom: var(--dl-space-space-unit);
}
.contact-nav31 {
  margin-bottom: var(--dl-space-space-unit);
}
.contact-nav42 {
  margin-bottom: var(--dl-space-space-unit);
}
.contact-nav51 {
  margin-bottom: var(--dl-space-space-unit);
}
.contact-buttons {
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.contact-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.contact-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.contact-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.contact-banner {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  margin-top: var(--dl-space-space-sixunits);
  align-items: center;
  justify-content: center;
}
.contact-image {
  width: var(--dl-size-size-xxlarge);
  align-self: center;
  object-fit: cover;
}
.contact-container1 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.contact-banner-heading {
  text-align: center;
}
.contact-banner-sub-heading {
  max-width: var(--dl-size-size-maxwidth);
  margin-top: var(--dl-space-space-twounits);
  text-align: center;
  margin-bottom: var(--dl-space-space-twounits);
}
.contact-hero {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.contact-container2 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.contact-hero-heading {
  max-width: 800px;
  text-align: center;
}
.contact-hero-sub-heading {
  font-size: 18px;
  text-align: center;
}
.contact-btn-group {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: center;
  flex-direction: row;
}
.contact-features {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact-features1 {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
  justify-content: flex-start;
}
.contact-container3 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.contact-features-heading {
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.contact-features-sub-heading {
  font-size: 18px;
  text-align: center;
}
.contact-container4 {
  width: 100%;
  display: grid;
  grid-gap: var(--dl-space-space-oneandhalfunits);
  grid-template-columns: 1fr 1fr;
}
.contact-faq {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact-faq1 {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-fourunits);
}
.contact-container5 {
  display: flex;
  max-width: 35%;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.contact-text44 {
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.contact-text45 {
  text-align: left;
}
.contact-container6 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.contact-footer {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: center;
}
.contact-container7 {
  gap: var(--dl-space-space-unit);
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.contact-nav1 {
  flex: 0 0 auto;
  display: flex;
  margin-top: 0px;
  align-items: center;
  flex-direction: row;
}
.contact-nav22 {
  transition: 0.3s;
  margin-left: var(--dl-space-space-twounits);
}
.contact-nav32 {
  transition: 0.3s;
  margin-left: var(--dl-space-space-twounits);
}
.contact-nav43 {
  transition: 0.3s;
  margin-left: var(--dl-space-space-twounits);
}
.contact-nav44 {
  transition: 0.3s;
  margin-left: var(--dl-space-space-twounits);
}
.contact-nav52 {
  transition: 0.3s;
  margin-left: var(--dl-space-space-twounits);
}
.contact-icon-group1 {
  display: flex;
  align-items: center;
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: row;
  justify-content: space-between;
}
.contact-icon10 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-twounits);
}
.contact-icon12 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-twounits);
}
.contact-icon14 {
  width: 24px;
  height: 24px;
}
.contact-text48 {
  padding-bottom: var(--dl-space-space-halfunit);
}
@media(max-width: 991px) {
  .contact-banner-sub-heading {
    max-width: 100%;
  }
  .contact-hero1 {
    flex-direction: column;
  }
  .contact-container2 {
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
    padding-right: 0px;
  }
  .contact-hero-heading {
    text-align: center;
  }
  .contact-hero-sub-heading {
    text-align: center;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
  .contact-features-sub-heading {
    text-align: center;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
  .contact-text45 {
    text-align: center;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
}
@media(max-width: 767px) {
  .contact-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .contact-desktop-menu {
    display: none;
  }
  .contact-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .contact-nav1 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .contact-nav21 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .contact-nav31 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .contact-nav42 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .contact-nav51 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .contact-banner1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .contact-banner-sub-heading {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .contact-hero1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .contact-hero-sub-heading {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .contact-features1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .contact-features-sub-heading {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .contact-container4 {
    grid-template-columns: 1fr;
  }
  .contact-faq1 {
    flex-direction: column;
  }
  .contact-container5 {
    max-width: 100%;
    align-self: center;
    align-items: center;
    justify-content: center;
  }
  .contact-text45 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .contact-footer1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .contact-text48 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .contact-text49 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
@media(max-width: 479px) {
  .contact-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .contact-mobile-menu1 {
    padding: 16px;
  }
  .contact-banner1 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .contact-hero1 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .contact-container2 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .contact-btn-group {
    flex-direction: column;
  }
  .contact-features1 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .contact-footer1 {
    padding: var(--dl-space-space-unit);
  }
  .contact-text48 {
    text-align: center;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .contact-text49 {
    text-align: center;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
