.blog-post-card2-blog-post-card {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  box-shadow: 4px 4px 10px 0px rgba(18, 18, 18, 0.1);
  transition: 0.3s;
  align-items: stretch;
  flex-direction: row;
  justify-content: space-between;
}
.blog-post-card2-blog-post-card:hover {
  transform: scale(1.02);
}
.blog-post-card2-image {
  width: 350px;
  height: 350px;
  object-fit: cover;
  flex-shrink: 0;
  border-radius: 0px;
}
.blog-post-card2-container {
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.blog-post-card2-container1 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-halfunit);
  flex-direction: row;
  justify-content: space-between;
}
.blog-post-card2-text {
  color: var(--dl-color-gray-500);
  font-weight: 600;
  text-transform: uppercase;
}
.blog-post-card2-text1 {
  color: var(--dl-color-gray-500);
  font-weight: 300;
}
.blog-post-card2-text2 {
  margin-bottom: var(--dl-space-space-twounits);
}
.blog-post-card2-text3 {
  color: var(--dl-color-gray-500);
  font-size: 1.25rem;
  margin-bottom: var(--dl-space-space-twounits);
}
.blog-post-card2-container2 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.blog-post-card2-profile {
  display: flex;
  align-items: center;
}
.blog-post-card2-image1 {
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  object-fit: cover;
  border-radius: var(--dl-radius-radius-round);
}
.blog-post-card2-text4 {
  font-style: normal;
  font-weight: 600;
  margin-left: var(--dl-space-space-halfunit);
}
.blog-post-card2-text5 {
  color: var(--dl-color-gray-black);
  font-style: normal;
  font-weight: 500;
}

.blog-post-card2-root-class-name2 {
  display: none;
}


@media(max-width: 991px) {
  .blog-post-card2-blog-post-card {
    flex-direction: row;
    justify-content: space-between;
  }
}
@media(max-width: 767px) {
  .blog-post-card2-blog-post-card {
    flex-direction: column;
  }
  .blog-post-card2-image {
    width: 100%;
  }
}
@media(max-width: 479px) {
  .blog-post-card2-container2 {
    padding-left: 0px;
    padding-right: 0px;
  }
  .blog-post-card2-text5 {
    width: auto;
  }
}

.projects-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.projects-header {
  width: 100%;
  display: flex;
  z-index: 100;
  position: fixed;
  align-items: center;
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}
.projects-navbar-interactive {
  background-image: radial-gradient(circle at left, rgba(0, 0, 0, 0.2) 36.00%,rgba(2, 108, 210, 0.4) 100.00%);
}
.projects-logo {
  font-size: 2em;
  font-family: "Inter Tight";
  text-transform: uppercase;
}
.projects-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.projects-links {
  flex: 1;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.projects-nav2 {
  width: auto;
  height: auto;
  align-self: center;
  text-align: center;
  transition: 0.3s;
  margin-left: var(--dl-space-space-twounits);
  text-transform: uppercase;
  text-decoration: none;
}
.projects-nav3 {
  width: auto;
  height: auto;
  align-self: center;
  text-align: center;
  transition: 0.3s;
  margin-left: var(--dl-space-space-twounits);
  text-transform: uppercase;
  text-decoration: none;
}
.projects-nav4 {
  width: auto;
  height: auto;
  align-self: center;
  text-align: center;
  transition: 0.3s;
  margin-left: var(--dl-space-space-twounits);
  text-transform: uppercase;
  text-decoration: none;
}
.projects-nav41 {
  width: auto;
  height: auto;
  align-self: center;
  text-align: center;
  transition: 0.3s;
  margin-left: var(--dl-space-space-twounits);
  text-transform: uppercase;
  text-decoration: none;
}
.projects-nav5 {
  width: auto;
  height: auto;
  align-self: center;
  text-align: center;
  transition: 0.3s;
  margin-left: var(--dl-space-space-twounits);
  text-transform: uppercase;
  text-decoration: none;
}
.projects-burger-menu {
  display: none;
}
.projects-icon {
  width: var(--dl-size-size-xsmall);
  cursor: pointer;
  height: var(--dl-size-size-xsmall);
}
.projects-mobile-menu1 {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
}
.projects-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.projects-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.projects-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.projects-icon02 {
  width: var(--dl-size-size-xsmall);
  cursor: pointer;
  height: var(--dl-size-size-xsmall);
}
.projects-links1 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.projects-nav1 {
  margin-bottom: var(--dl-space-space-unit);
}
.projects-nav21 {
  margin-bottom: var(--dl-space-space-unit);
}
.projects-nav31 {
  margin-bottom: var(--dl-space-space-unit);
}
.projects-nav42 {
  margin-bottom: var(--dl-space-space-unit);
}
.projects-nav51 {
  margin-bottom: var(--dl-space-space-unit);
}
.projects-buttons {
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.projects-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.projects-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.projects-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.projects-blog {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  margin-top: var(--dl-space-space-sixunits);
  align-items: center;
  padding-top: var(--dl-space-space-sixunits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.projects-text02 {
  margin-bottom: var(--dl-space-space-unit);
}
.projects-container1 {
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: space-between;
}
.projects-container2 {
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: space-between;
}
.projects-text05 {
  margin-top: var(--dl-space-space-fourunits);
  margin-bottom: var(--dl-space-space-unit);
}
.projects-container3 {
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: space-between;
}
.projects-footer {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: center;
}
.projects-container4 {
  gap: var(--dl-space-space-unit);
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.projects-nav1 {
  flex: 0 0 auto;
  display: flex;
  margin-top: 0px;
  align-items: center;
  flex-direction: row;
}
.projects-nav22 {
  transition: 0.3s;
  margin-left: var(--dl-space-space-twounits);
}
.projects-nav32 {
  transition: 0.3s;
  margin-left: var(--dl-space-space-twounits);
}
.projects-nav43 {
  transition: 0.3s;
  margin-left: var(--dl-space-space-twounits);
}
.projects-nav44 {
  transition: 0.3s;
  margin-left: var(--dl-space-space-twounits);
}
.projects-nav52 {
  transition: 0.3s;
  margin-left: var(--dl-space-space-twounits);
}
.projects-icon-group1 {
  display: flex;
  align-items: center;
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: row;
  justify-content: space-between;
}
.projects-icon10 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-twounits);
}
.projects-icon12 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-twounits);
}
.projects-icon14 {
  width: 24px;
  height: 24px;
}
.projects-text08 {
  padding-bottom: var(--dl-space-space-halfunit);
}
@media(max-width: 767px) {
  .projects-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .projects-desktop-menu {
    display: none;
  }
  .projects-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .projects-nav1 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .projects-nav21 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .projects-nav31 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .projects-nav42 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .projects-nav51 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .projects-blog {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .projects-footer1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .projects-text08 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .projects-text09 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
@media(max-width: 479px) {
  .projects-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .projects-mobile-menu1 {
    padding: 16px;
  }
  .projects-blog {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .projects-footer1 {
    padding: var(--dl-space-space-unit);
  }
  .projects-text08 {
    text-align: center;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .projects-text09 {
    text-align: center;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
